
<h2>Admin Area Home Page</h2>


<table border="1">
    <tr>
        <td>Links </td>
    </tr>
    <tr>
        <td>

            @Html.ActionLink("Main Area Home Page", "Index", "Home", new { area = "" }, null)

        </td>
    </tr>
    <tr>
        <td>

            @Html.ActionLink("Employee Area Home Page", "Index", "Home", new { area = "Employee" }, null)

        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Employeer Area Home Page", "Index", "Home", new { area = "Employer" }, null)
        </td>
    </tr>

    <tr>
        <td>
            @Html.ActionLink("Admin Area Home Page", "Index", "Home", new { area = "Admin" }, null)
        </td>
    </tr>
</table>
